<h1>Burgers!</h1>
<img src ="assets/img/burger.jpg" alt="burger" height="200" width="200">
<h2>Burger Land</h2>
<ul>
{{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
        <button type="submit">Devour!</button>  
        </form>
      </li>
    {{/unless}}
{{/each}}
</ul>
<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form>

<h2>Eaten Burgers!</h2>
    <ul>
        {{#each burgers}}

            {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
            {{/if}}

        {{/each}}
    </ul>